$default-font: "CoreSansE-35", sans-serif;
$font-15: "CoreSansE-15", sans-serif;
$font-25: "CoreSansE-25", sans-serif;
$font-35It: "CoreSansE-35It", sans-serif;
$font-45: "CoreSansE-45", sans-serif;
$font-55: "CoreSansE-55", sans-serif;
$font-65: "CoreSansE-65", sans-serif;
$font-75: "CoreSansE-75", sans-serif;
$font-85: "CoreSansE-85", sans-serif;
$font-95: "CoreSansE-95", sans-serif;
$font-besom: "Besom", sans-serif;
$accent: #ff0000;
$white: #ffffff;
$grey: #4d4d4d;

$text: #fff;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
