@import "vars";
@import "fonts";
@import "libs";

::placeholder {
    color: #666;
}

::selection {
    background-color: $white;
    color: #fff;
}

body {
    font-size: 18px;
    min-width: 320px;
    position: relative;
    line-height: 1.65;
    font-family: $default-font;
    overflow-x: hidden;
    color: $text;
    input, textarea {
        border: #666 1px solid;
        outline: none;
        &:focus:required:invalid {
            border-color: red;
        }
        &:required:valid {
            border-color: green;
        }
    }
}
h1 {
    /* Style for "Выжить" */
    margin-top: 100px;
    color: $accent;
    font-family: $font-besom;
    font-size: 180px;
    font-weight: 400;
    text-transform: uppercase;
    /* Text style for "В, ыжить" */
    letter-spacing: 9px;
}
h2 {
    /* Style for "Выжить" */
    margin-top: 100px;
    color: $accent;
    font-family: $font-besom;
    font-size: 100px;
    font-weight: 400;
    text-transform: uppercase;
    /* Text style for "В, ыжить" */
    letter-spacing: 9px;
}
h3 {
    margin-top: 26px;
    /* Style for "любой цено" */
    font-family: $font-95;
    font-size: 68px;
    font-weight: 400;
    text-transform: uppercase;
    /* Text style for "любой цено" */
    letter-spacing: 3.4px;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    &.img-width {
        width: 100%;
    }
}

.text-center {
    text-align: center;
}

b, strong {
    /*font-weight: bold;*/
    /* Style for "Вс" */
    margin-left: 6px;
    color: #1b1916;
    font-family: $font-95;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}
button {
    margin-top: 65px;
    width: 307px;
    height: 73px;
    background: url(../img/@1x/buuton.png);
    border: none;
    color: #ffffff;
    font-family: $font-95;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    /* Text style for "Р, искнуть" */
    letter-spacing: 0.9px;
}

/*heder*/
.heider {
    padding: 0;
    background: url(../img/@1x/Фон_параллакс.png) no-repeat 50% 50% ;
    height: 100vh;
}
.navig {
    padding-top: 22px;
}
.razmitie {
    margin-top: 38px;
    background: url(../img/@1x/spec_razmitie.png) no-repeat;
    text-align: center;
    /* Style for "спецкурс р" */
    width: 351px;
    height: 14px;

}
.razmitie p {
    /* Style for "спецкурс" */

    line-height: .5;
    color: #ffffff;
    font-family: $font-45;
    font-size: 18px;
    font-weight: 400;
    /* Text style for "спецкурс" */
    letter-spacing: 12.6px;
}
.navig--tel {
    /* Style for "+7 (930) 4" */
    padding-top: 26px;
    font-family: $font-55;
    font-size: 24px;
    font-weight: 400;
}
.yecend {
    margin-left: 3px;
    padding: 5px;
    background: url(../img/@1x/yeckend.png);
    /* Style for "Слой 2" */
    width: 205px;
    height: 40px;

}
.yecend--strong {
    margin-left: 58px;
}
.yecend--p {
    margin-left: 40px;
    /* Style for "3 дня с ут" */
    font-family: $font-35It;
    font-size: 14px;
    font-weight: 400;
}
/*who*/
.who {
    text-align: center;
}
.start {
    /* Style for "Фигура 1" */

    background: url(../img/@1x/vector.png) 30% 0% no-repeat;
    background-size: 689px 1041px;
    text-align: left;
    position: relative;
}
.start--start {
    color: $red;
    position: absolute;
    right: 284px;
    top: 46px;
}
.start--finesh {
    color: $red;
    position: absolute;
    left: 208px;
    bottom: 135px;
}
.card-title {
    /* Style for "Спецзнания" */
    color: #4d4d4d;
    font-family: $font-65;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    /* Text style for "С, пецзнан" */
    letter-spacing: 1px;}
.card-text {
    /* Style for "За 3 дня с" */
    color: #4d4d4d;
    font-family: $font-45;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
@import "media"; // Always at the end
